{% extends 'shared/base.html' %}
{% block site_content %}
   <!-- Home -->
    <div class="content">
{% if traxxas %}
        <section class="js">
            <h2>Monster Trucks</h2>
            {% for traxas in traxxas %}
            {% if traxas.category == 'monster_trucks' %}
            <div class="articles">
                <article>
                    <h3>{{ traxas.title }}</h3>
                    <img class="detail-img" src="{{ traxas.image.url }}" alt="traxxas-image">
                    <p>{{ traxas.description }}</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
                        {% endif %}
{% endfor %}
        </section>
        <section class="CSharp">
            <h2>On Road Cars</h2>
            {% for traxas in traxxas %}
                    {% if traxas.category == 'on_road_cars' %}
            <div class="articles">
                <article>
                    <h3>{{ traxas.title }}</h3>
                    <img class="detail-img" src="{{ traxas.image.url }}" alt="traxxas-image">
                    <p>{{ traxas.description}}</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
                                    {% endif %}
{% endfor %}
        </section>
        <section class="Java">
            <h2>Short Course Trucks</h2>
            {% for traxas in traxxas %}
                 {% if traxas.category == 'short_course_trucks' %}
            <div class="articles">
                <article>
                    <h3>{{ traxas.title }}</h3>
                    <img class="detail-img" src="{{ traxas.image.url }}" alt="traxxas-image">
                    <p>{{ traxas.description }}</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
            {% endif %}
{% endfor %}
        </section>
        <section class="Pyton">
            <h2>Stadium Trucks</h2>
            {% for traxas in traxxas %}
              {% if traxas.category == 'stadium_trucks' %}
            <div class="articles">
                <article>
                    <h3>{{ traxas.title }}</h3>
                    <img class="detail-img" src="{{ traxas.image.url }}" alt="traxxas-image">
                    <p>{{ traxas.description }}</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
    {% endif %}
    {% endfor %}
        </section>
    {% else %}
            <!-- No articles message -->
    <h3 class="no-articles">No articles yet</h3>
    {% endif %}
        </div>
{% endblock %}