{% extends 'shared/base.html' %}

{% block site_content %}
<!-- Register -->
    <div class="container auth">
             <form action="{% url 'sign up' %}" method="post">
            <fieldset>
                <legend>Register</legend>
                        {{ form }}
                        {% csrf_token %}
                <p class="field submit">
                    <button class="btn submit" type="submit">Register</button>
                </p>
                <p class="field">
                    <span>If you already have profile click <a href="{% url 'sign in' %}">Sign in</a></span>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}